.light {
  --md-sys-color-primary: rgb(75 94 114);
  --md-sys-color-surface-tint: rgb(77 96 116);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(99 118 139);
  --md-sys-color-on-primary-container: rgb(253 252 255);
  --md-sys-color-secondary: rgb(88 95 104);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(217 224 235);
  --md-sys-color-on-secondary-container: rgb(92 99 108);
  --md-sys-color-tertiary: rgb(108 84 108);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(133 109 133);
  --md-sys-color-on-tertiary-container: rgb(255 251 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(251 249 250);
  --md-sys-color-on-background: rgb(27 28 29);
  --md-sys-color-surface: rgb(251 249 250);
  --md-sys-color-on-surface: rgb(27 28 29);
  --md-sys-color-surface-variant: rgb(224 226 233);
  --md-sys-color-on-surface-variant: rgb(67 71 76);
  --md-sys-color-outline: rgb(116 119 125);
  --md-sys-color-outline-variant: rgb(196 198 205);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 50);
  --md-sys-color-inverse-on-surface: rgb(242 240 242);
  --md-sys-color-inverse-primary: rgb(181 200 224);
  --md-sys-color-primary-fixed: rgb(209 228 252);
  --md-sys-color-on-primary-fixed: rgb(8 29 46);
  --md-sys-color-primary-fixed-dim: rgb(181 200 224);
  --md-sys-color-on-primary-fixed-variant: rgb(54 72 92);
  --md-sys-color-secondary-fixed: rgb(220 227 237);
  --md-sys-color-on-secondary-fixed: rgb(21 28 36);
  --md-sys-color-secondary-fixed-dim: rgb(192 199 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 71 80);
  --md-sys-color-tertiary-fixed: rgb(248 217 246);
  --md-sys-color-on-tertiary-fixed: rgb(39 21 41);
  --md-sys-color-tertiary-fixed-dim: rgb(219 190 217);
  --md-sys-color-on-tertiary-fixed-variant: rgb(85 64 86);
  --md-sys-color-surface-dim: rgb(219 217 219);
  --md-sys-color-surface-bright: rgb(251 249 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 243 245);
  --md-sys-color-surface-container: rgb(239 237 239);
  --md-sys-color-surface-container-high: rgb(233 232 233);
  --md-sys-color-surface-container-highest: rgb(228 226 227);
  --md-extended-color-custom-color1-color: rgb(109 85 126);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(204 176 222);
  --md-extended-color-custom-color1-on-color-container: rgb(88 65 104);
  --md-extended-color-custom-color2-color: rgb(0 3 76);
  --md-extended-color-custom-color2-on-color: rgb(255 255 255);
  --md-extended-color-custom-color2-color-container: rgb(4 14 130);
  --md-extended-color-custom-color2-on-color-container: rgb(122 132 238);
  --md-extended-color-custom-color3-color: rgb(50 64 0);
  --md-extended-color-custom-color3-on-color: rgb(255 255 255);
  --md-extended-color-custom-color3-color-container: rgb(71 89 4);
  --md-extended-color-custom-color3-on-color-container: rgb(185 208 114);
  --md-extended-color-custom-color4-color: rgb(66 0 104);
  --md-extended-color-custom-color4-on-color: rgb(255 255 255);
  --md-extended-color-custom-color4-color-container: rgb(93 25 137);
  --md-extended-color-custom-color4-on-color-container: rgb(209 141 255);
  --md-extended-color-custom-color5-color: rgb(0 93 166);
  --md-extended-color-custom-color5-on-color: rgb(255 255 255);
  --md-extended-color-custom-color5-color-container: rgb(0 118 209);
  --md-extended-color-custom-color5-on-color-container: rgb(253 252 255);
  --md-extended-color-custom-color6-color: rgb(0 104 116);
  --md-extended-color-custom-color6-on-color: rgb(255 255 255);
  --md-extended-color-custom-color6-color-container: rgb(41 205 226);
  --md-extended-color-custom-color6-on-color-container: rgb(0 83 93);
  --md-extended-color-custom-color7-color: rgb(141 0 118);
  --md-extended-color-custom-color7-on-color: rgb(255 255 255);
  --md-extended-color-custom-color7-color-container: rgb(181 8 153);
  --md-extended-color-custom-color7-on-color-container: rgb(255 210 237);
  --md-extended-color-custom-color8-color: rgb(83 102 11);
  --md-extended-color-custom-color8-on-color: rgb(255 255 255);
  --md-extended-color-custom-color8-color-container: rgb(149 171 77);
  --md-extended-color-custom-color8-on-color-container: rgb(48 61 0);
  --md-extended-color-custom-color9-color: rgb(16 0 0);
  --md-extended-color-custom-color9-on-color: rgb(255 255 255);
  --md-extended-color-custom-color9-color-container: rgb(53 19 15);
  --md-extended-color-custom-color9-on-color-container: rgb(173 120 113);
  --md-extended-color-custom-color10-color: rgb(68 97 124);
  --md-extended-color-custom-color10-on-color: rgb(255 255 255);
  --md-extended-color-custom-color10-color-container: rgb(161 191 222);
  --md-extended-color-custom-color10-on-color-container: rgb(48 78 104);
}
